/* ratings */

.plexius-title-rating {
    margin-left: 30px;
}

.plexius-rating-container {
    display: inline-block;
    vertical-align: top;
}

.plexius-rating-rt {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.plexius-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.plexius-imdb-rating-container, .plexius-trakt-rating-container {
    margin-left: 0.6em;
}

.plexius-imdb-rating, .plexius-trakt-rating {
    height: 1em;
    margin: 0 0.4em;
}


/*  trailer */

.plexius-trailer-button {
    display: inline-block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.plex-icon-trailer:before {
    content: "\EA54";
}