/* ratings */

.plexius-title-rating {
    margin-left: 30px;
}

.plexius-rating-container {
    display: inline-block;
    vertical-align: top;
}

.plexius-rating-rt {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.plexius-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.plexius-imdb-rating-container, .plexius-trakt-rating-container {
    margin-left: 0.6em;
}

.plexius-imdb-rating, .plexius-trakt-rating {
    height: 1em;
    margin: 0 0.4em;
}


/*  trailer */

.plexius-trailer-button {
    font-size: 20px;
    background-color: transparent;
    width: 50px;
    color: rgba(255, 255, 255, 0.7);
    border: 0;
}

.plexius-trailer-button:focus {
    outline:none;
}

.plex-icon-trailer:before {
    content: "\EA55";
}

/* missing episodes */

.plex-missing-episodes, .plex-unaired-episodes {
    text-transform: uppercase;
    margin-left: 2px;
}

.plex-missing-episodes span:hover, .plex-unaired-episodes span:hover {
    cursor: pointer;
    text-decoration: underline;
}

#missingEpisodes a {
    display: inline-block;
    width: 150px;
    margin: 0px 20px;
    height: 190px;
    vertical-align: top;
}
#missingEpisodes a:hover .missing-tile {
    /*border: 2px solid #cc7b19;*/
    box-shadow: 0 0 0 2px #cc7b19;
}

.missing-tile {
    background-color: #171717;
    width: 150px;
    height: 100px;
    position: relative;
}

.missing-aired {
    position: absolute;
    left: 18px;
    top: 40px;
}

.missing-title {
    padding: 8px 0;
}

.missing-number {
    font-size: 80%;
    opacity: 0.7;
}

.missing-title, .missing-number {
    color: white;
}


/* Modals */
/* Modal Content/Box */
.plexius-content {
    display: none; /* Hidden by default */
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 480px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.plexius-content .modal-header {
    height: 60px;
    color: #eee;
}
.plexius-content .modal-header .title {
    display: inline;
}
.plexius-content .modal-body {
    color: #999;
    font-size: 15px;
    overflow: auto;
    height: 420px;
}
.plexius-content .modal-body a {
    display: block;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}